* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #E0F2E9;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
}

.container{
    background-color: #CEB5A7;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}

form{
    margin: 2rem 0 1rem 0;
}

form select,button,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input{
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}

.dropdown{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 2rem;
}

.dropdown i{
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-container img{
    max-width: 2rem;
}

.select-container{
    display: flex;
    width: 6rem;
    border: 1px solid #CEB5A7;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background-color:#CEB5A7;
}

.select-container select{
    font-size: 1rem;
    width: auto;
}

.msg{
    margin: 2rem 0 2rem 0;
}

form button{
    height: 3rem;
    background-color:#3C887E ;
    color:black;
    font-size: 1.15rem;
    cursor: pointer;
}